@import url(https://fonts.google.com/specimen/Roboto);
@import url(https://fonts.google.com/specimen/Shrikhand);
body {
  margin: 0;
  font-family: Roboto;
  width: 100%;
}

header {
  margin: 0;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
header img {
  padding-top: 3%;
  padding-bottom: 3%;
  width: 50%;
}
header div {
  justify-content: center;
  display: flex;
}
header .location {
  font-weight: 500;
  gap: 15px;
  align-items: center;
  height: 50px;
  background-color: rgba(79, 74, 74, 0.138);
}

aside {
  padding-top: 30px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  background-color: rgba(79, 74, 74, 0.064);
}
aside h1 {
  font-family: Shrikhand;
  width: 220px;
  font-size: 20px;
  margin: 0;
}
aside p {
  width: 73%;
}
aside button {
  font-weight: 600;
  margin-top: 10px;
  border: none;
  padding: 10px;
  width: 180px;
  border-radius: 20px 20px 20px 20px;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
}

.section_fonctionnement {
  padding-bottom: 50px;
  padding-left: 3%;
}
.section_fonctionnement .fonct {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section_fonctionnement .fonct__etape {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.123);
  display: flex;
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 95%;
  border-radius: 20px;
  background-color: rgba(79, 74, 74, 0.042);
}
.section_fonctionnement .fonct__etape .fa-solid {
  padding-right: 20px;
  padding-left: 20px;
  color: rgba(79, 74, 74, 0.437);
}

.numb_etape {
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  border-radius: 50%;
  color: #fff;
  background-color: #9356DC;
}

#etape-3 {
  background-color: rgba(146, 86, 220, 0.1450980392);
}

.section_restaurants {
  padding-bottom: 30px;
  padding-top: 10px;
  padding-left: 3%;
  background-color: rgba(79, 74, 74, 0.064);
}

.restaurants {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.restaurants__card {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.123);
  border-radius: 10px;
  background-color: #fff;
  width: 97%;
  height: 250px;
}
.restaurants__card__illustration {
  position: relative;
}
.restaurants__card__illustration img {
  border-radius: 10px 10px 0 0px;
  object-fit: cover;
  height: 150px;
  width: 100%;
}
.restaurants__card__info {
  align-items: center;
  padding-left: 3%;
  display: flex;
}

.new {
  padding: 5px;
  top: 5px;
  right: 10px;
  position: absolute;
  color: hwb(158 7% 68%/0.995);
  background-color: #99E2D0;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  padding-left: 3%;
  padding-top: 20px;
  padding-bottom: 35px;
  font-weight: 500;
  color: white;
  background-color: rgba(44, 43, 43, 0.907);
}
footer img {
  width: 120px;
  margin-bottom: 13px;
}
footer .fa-solid {
  width: 20px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cover img {
  object-fit: cover;
  width: 100%;
  height: 240px;
}

.header_page_restau {
  gap: 15%;
  margin-top: none;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.header_page_restau .fa-solid {
  margin-left: 30px;
}

@media screen and (min-width: 320px) {
  .header_page_restau .fa-solid {
    font-size: 25px;
  }
}
@media screen and (min-width: 420px) {
  .header_page_restau .fa-solid {
    font-size: 27px;
  }
}
@media screen and (min-width: 490px) {
  .header_page_restau .fa-solid {
    font-size: 30px;
  }
}
@media screen and (min-width: 550px) {
  .header_page_restau .fa-solid {
    font-size: 50px;
  }
}
.food_section {
  background-color: rgba(79, 74, 74, 0.064);
  padding-top: 15px;
  padding-bottom: 20px;
  border-radius: 40px;
}
.food_section h2 {
  margin-left: 5%;
  padding-bottom: 5px;
  border-bottom: 4px solid #99E2D0;
  width: 70px;
  text-transform: uppercase;
}
.food_section button {
  position: relative;
  font-weight: 600;
  margin-top: 10px;
  border: none;
  padding: 15px;
  width: 180px;
  border-radius: 20px 20px 20px 20px;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
}

.container_btn {
  text-align: center;
  width: 100%;
}

.restaurant_title {
  margin-left: 5%;
  display: flex;
  align-items: center;
}

.food_list {
  padding-left: 5%;
}
.food_list__item {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.123);
  margin-bottom: 20px;
  width: 95%;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
}

.info_item {
  padding-left: 10px;
  width: 65%;
}

.price {
  display: flex;
  justify-content: flex-end;
  width: 28%;
  height: 60px;
  align-items: flex-end;
  font-weight: bold;
}

.choice {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
    max-width: 991px;
  }
  header {
    max-width: 991px;
  }
  .location {
    font-size: 19px;
  }
  aside {
    max-width: 991px;
  }
  aside h1 {
    font-family: Shrikhand;
    width: 260px;
    font-size: 28px;
    margin: 0;
  }
  aside p {
    font-size: 20px;
    width: 73%;
  }
  aside button {
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    border: none;
    padding: 15px;
    width: 220px;
    border-radius: 20px 20px 20px 20px;
    color: white;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  }
  h2 {
    font-size: 26px;
  }
  .section_fonctionnement h2 {
    padding-bottom: 10px;
    width: 50%;
    border-bottom: solid rgba(146, 86, 220, 0.3568627451);
    text-align: center;
    margin-left: 23%;
  }
  .fonct__etape {
    align-items: center;
    height: 60px;
    width: 80% !important;
    margin-left: 9%;
    font-size: 18px;
  }
  .numb_etape {
    padding-left: 10px;
    padding-right: 10px;
  }
  .section_restaurants h2 {
    margin-left: 38.5%;
  }
  .restaurants__card {
    height: 330px;
    width: 88%;
    margin-left: 5%;
  }
  .restaurants__card__illustration img {
    height: 220px;
  }
  .restaurants__card__info h3 {
    font-size: 21px;
  }
  .restaurants__card__info p {
    font-size: 18px;
  }
  .new {
    text-align: center;
    width: 110px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  footer img {
    width: 230px;
  }
  .footer-menu {
    font-size: 18px;
  }
  .header_page_restau {
    gap: 18%;
  }
  .header_page_restau .fa-solid {
    font-size: 300%;
  }
  .restaurant_title {
    margin-left: 0%;
    flex-direction: column;
  }
  .restaurant_title h1 {
    font-size: 30px;
  }
  .food_list {
    padding-left: 0%;
    justify-content: center;
    gap: 2%;
    display: flex;
    flex-wrap: wrap;
  }
  .food_list__item {
    align-items: baseline;
    width: 30%;
  }
  .food_section h2 {
    width: 150px;
  }
  .food_section button {
    font-size: 18px;
    width: 240px;
    height: 50px;
  }
  .info_item h3 {
    font-size: 22px;
  }
  .info_item p {
    font-size: 20px;
  }
  .price {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  header img {
    padding-top: 1%;
    padding-bottom: 1%;
    height: 50px;
    width: 450px;
  }
  .location {
    font-size: 15px;
  }
  aside h1 {
    font-size: 26px;
  }
  aside p {
    font-size: 22px;
  }
  aside button {
    font-size: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 400px;
  }
  .section_fonctionnement {
    padding-left: 7%;
  }
  .section_fonctionnement h2 {
    padding-bottom: 10px;
    width: 50%;
    border-bottom: solid rgba(146, 86, 220, 0.357);
    text-align: center;
    margin-left: 21%;
    font-size: 24px;
  }
  .fonct {
    flex-direction: unset !important;
  }
  .fonct__etape {
    justify-content: center;
    width: 30% !important;
  }
  .fonct__etape .fa-solid {
    font-size: 40px;
  }
  .fonct__etape p {
    gap: 10px;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .numb_etape {
    padding: 0;
    width: 100%;
  }
  .restaurants {
    margin-bottom: 40px;
    width: 100%;
    flex-direction: initial;
  }
  .restaurants__card {
    width: 47.5%;
    height: 320px;
  }
  .restaurants__card__illustration img {
    height: 220px;
  }
  footer {
    font-size: 20px;
  }
  footer img {
    width: 200px;
  }
  .header_page_restau {
    height: 70px;
    gap: 33%;
  }
  .header_page_restau img {
    width: 25%;
  }
  .cover {
    height: 350px;
  }
  .cover img {
    height: 350px;
  }
  .restaurant_title {
    margin-left: 0%;
    flex-direction: column;
  }
  .restaurant_title h1 {
    font-size: 30px;
  }
  .food_section h2 {
    width: 150px;
  }
  .food_list {
    padding-left: 0%;
    justify-content: center;
    gap: 2%;
    display: flex;
    flex-wrap: wrap;
  }
  .food_list__item {
    align-items: baseline;
    width: 30%;
  }
  .commander_cta {
    padding-top: 1% !important;
    padding-bottom: 1% !important;
    width: 350px !important;
  }
}

/*# sourceMappingURL=style.css.map */
