@import url(https://fonts.google.com/specimen/Roboto);
@import url(https://fonts.google.com/specimen/Shrikhand);


body{
    margin: 0;
    font-family: 'Roboto';
    width: 100%;
    
}

header{
    margin: 0;
    width: 100%;
    justify-content: center;
    display: flex;
    
    flex-direction: column;
    img{
        padding-top: 3%;
        padding-bottom: 3%;
        width: 50%;  
    }

    div{
        
        justify-content: center;
        display: flex;
    }
    .location{
        font-weight: 500;
        gap: 15px;
        align-items: center;
        height: 50px;
        background-color: rgba(79, 74, 74, 0.138);
    }
}

aside{
    padding-top: 30px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
    width: 100%;
    background-color: rgba(79, 74, 74, 0.064);

    h1{
        font-family: Shrikhand;
        width: 220px;
        font-size: 20px;
        margin: 0;
    }
    p{
        width: 73%;
    }
    button{
        font-weight: 600;
        margin-top: 10px;
        border: none;
        padding: 10px;
        width: 180px;
        border-radius: 20px 20px 20px 20px;
        color: white;
        background: linear-gradient(to bottom right, #FF79DA, #9356DC);
        box-shadow: rgba(0, 0, 0, 0.112) 0px 5px 5px 0px;
        transition: box-shadow 0.5s;

    }
    button:hover{
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.42) 0px 5px 5px 0px;
        background: linear-gradient(to bottom right, #ff79d9cd, #9256dcc4);
    }
}

.section_fonctionnement{
    padding-bottom: 50px;
    padding-left: 3%;
    .fonct{
        width: 100%;
        display: flex;
        flex-direction: column;
        
        gap:20px;
        &__etape{
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.123);
            display: flex;
            
            font-weight: 500;
            padding-top: 5px;
            padding-bottom: 5px;
            width: 95%;
            border-radius: 20px;
            background-color: rgba(79, 74, 74, 0.042);
            .fa-solid{
                padding-right: 20px;
                padding-left: 20px;
                color: rgba(79, 74, 74, 0.437);
            }
        }
    }
}
.numb_etape{
    
    
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    border-radius: 50% ;
    color: #fff;
    
    background-color: #9356DC;
}

#etape-3{
    background-color: #9256dc25
}

.section_restaurants{
    padding-bottom: 30px;
    padding-top: 10px;
    padding-left: 3%;
    background-color: rgba(79, 74, 74, 0.064);
}

.restaurants{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__card{
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.123);
        border-radius: 10px;
        background-color: #fff;
        width: 97%;
        height: 250px;
        &__illustration{
            position: relative;
            img{
                border-radius: 10px 10px 0 0px;
                object-fit: cover;
                height: 150px;
                width: 100%;
            }
        }
        &__info{
            div{
                width: 85%;
            }
            align-items: center;
            padding-left: 3%;
            display: flex;
            .fa-regular{
                
                color:black;
                font-size: 30px;
                
            }
            
        }
    }
}

.new{
    
    padding: 5px;
    top:5px;
    right: 10px;
    position: absolute;
    color: hwb(158 7% 68% / 0.995);
    background-color: #99E2D0;
}
a{
    text-decoration: none;
    color: black;
}

footer{
    padding-left: 3%;
    padding-top: 20px;
    padding-bottom: 35px;
    font-weight: 500;
    color: white;
    background-color: rgba(44, 43, 43, 0.907);
    img{
        
        width: 120px;
        margin-bottom: 13px;
    }
    .fa-solid{
        width: 20px;
    }
}

.footer-menu{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cover{
    
    img{
        object-fit: cover;
        width: 100%;
        height: 240px;
    }
}

.header_page_restau{
    gap:15%;
    margin-top: none;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    

    .fa-solid{
        margin-left: 30px;
        
    }
}

@media screen and (min-width: 320px){
    .header_page_restau{
        .fa-solid{
            font-size: 25px;
        }
    }
}
@media screen and (min-width: 420px){
    .header_page_restau{
        .fa-solid{
            font-size: 27px;
        }
    }
}
@media screen and (min-width: 490px){
    .header_page_restau{
        .fa-solid{
            font-size: 30px;
        }
    }
}
@media screen and (min-width: 550px){
    .header_page_restau{
        .fa-solid{
            font-size: 50px;
        }
    }
}

.food_section{
    
    background-color: rgba(79, 74, 74, 0.064);
    padding-top: 15px;
    padding-bottom: 20px;
    border-radius: 40px;
    h2{
        margin-left: 5%;
        padding-bottom: 5px;
        border-bottom: 4px solid #99E2D0;
        width: 70px;
        text-transform: uppercase;
    }
    
}
.container_btn{
    text-align: center;
    width: 100%;
    button{
        position: relative;
        font-weight: 600;
        margin-top: 10px;
        border: none;
        padding: 15px;
        width: 180px;
        border-radius: 20px 20px 20px 20px;
        color: white;
        background: linear-gradient(to bottom right, #FF79DA, #9356DC);
        box-shadow: rgba(0, 0, 0, 0.112) 0px 5px 5px 0px;
        transition: box-shadow 0.5s;
        
    }
    button:hover{
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.42) 0px 5px 5px 0px;
        background: linear-gradient(to bottom right, #ff79d9cd, #9256dcc4);
    }
}

.restaurant_title{
    margin-left: 5%;
    display: flex;
    align-items: baseline;
    h1{
        width: 85%;
    }
    .fa-regular{
        font-size: 25px;
    }
}

.food_list{
    padding-left: 5%;
    animation: food-list 2s forwards;
    @keyframes food-list{
        0%{
            transform: translateY(20px);
            
        }
        100%{
            transform: translateY(0px);
        }
    }
    
    &__item{
        height: 90px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.123);
        margin-bottom: 20px;
        width: 95%;
        display: flex;
        background-color: #fff;
        border-radius: 20px;
        opacity: 0;
        .choice{
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 0px 20px 20px 0px;
            display: flex;
            
            justify-content: center;
            align-items: center;
            height: 100%!important;
            background-color: #99E2D0;
           
            transition-duration: 1s;
            transition-property: transform;
            .fa-solid{
                font-size: 20px;
                color: white;
                transition-duration: 0.7s;
                transition-property: transform;
            
            }                     
        }
        &:hover{
            cursor: pointer;
            .choice{
                display: flex;
            }
            .fa-solid{
                transform: rotate(360deg);
            }

        }   

        /**
        * ! Animation apparition progressive pour carte aliment
        **/
        $anim-dur: 1500ms;
        $anim-delay_item: calc($anim-dur/10);
        animation: food-card 600ms $anim-delay_item forwards;
        @for $i from 1 through 10 {
            &--#{$i} {
                animation-delay: $anim-delay_item * $i;  
                
            }
        } 
    }
    @keyframes food-card{
        0%{
            
            opacity: 0;
        }
        25%{
            
            opacity: 0.25;
        }
        50%{
            
            opacity: 0.5;
        }
        75%{
            
            opacity: 0.75;
        }
        100%{
            opacity: 1;
        }
    }
}
 

.info_item{
    padding-left: 10px;
    width: 63%;
    p{
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    h3{
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}




.price{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 60px;
    align-items: flex-end;
    font-weight: bold;

}



@media screen and (min-width: 768px) and (max-width: 991px) {
   
    body{
        max-width: 991px;
    }
    header{
        max-width: 991px;
        
    }
    .location{
        font-size: 19px;

    }
    aside{
        max-width: 991px;
        h1{
            font-family: Shrikhand;
            width: 260px;
            font-size: 28px;
            margin: 0;
        }
        p{
            font-size: 20px;
            width: 73%;
        }
        button{
            font-size: 16px;
            font-weight: 600;
            margin-top: 10px;
            border: none;
            padding: 15px;
            width: 220px;
            border-radius: 20px 20px 20px 20px;
            color: white;
            background: linear-gradient(to bottom right, #FF79DA, #9356DC);;
            box-shadow: rgba(0, 0, 0, 0.112) 0px 5px 5px 0px;
            transition: box-shadow 0.5s;
        }
        button:hover{
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.42) 0px 5px 5px 0px;
            background: linear-gradient(to bottom right, #ff79d9cd, #9256dcc4);
        }
    }
    h2{
        font-size: 26px;
    }
    .section_fonctionnement{
        h2{
            
            padding-bottom: 10px;
            width: 50%;
            border-bottom: solid #9256dc5b;
            text-align: center;
            margin-left: 23%;
        }
        
    }
    .fonct__etape{
        align-items: center;
        height: 60px;
        width: 80%!important;
        margin-left: 9%;
        font-size: 18px;
    }
    .numb_etape{
        padding-left: 10px;
        padding-right: 10px;
    }
    .section_restaurants{
        h2{
            margin-left: 38.5%;
        }
    }
    .restaurants__card{
        height: 330px;
        width: 88%;
        margin-left: 5%;
        &__illustration{
            img{
                height: 220px;
            }
        }
        &__info{
            h3{
                font-size: 21px;
            }
            p{
                font-size: 18px;
            }
        }
    }
    .new{
        text-align: center;
        width: 110px;
        padding-top: 10px;
        padding-bottom: 10px;
        
        
    }
    footer{
        img{
            width: 230px;
        }
    }
    .footer-menu{
        font-size: 18px;
    }

    .header_page_restau{
        gap: 18%;
        .fa-solid{
            font-size: 300%;
        }
    }
    .restaurant_title{
        margin-left: 5%;
        width: 100%;
        
        
        
        
        h1{
            font-size: 30px;
        }
    }
    
    .food_list{
        padding-left: 0%;
        justify-content: center;
        gap: 2%;
        display: flex;
        flex-wrap: wrap;
        
        &__item{
            height: 110px;
            
            width: 30%;
            
            
        }
    }
    .food_section {
        h2{
        width: 150px;
        }
        button{
            font-size: 18px;
            width: 240px;
            height: 50px;
        }
       
    }
    .info_item{
        h3{
            font-size: 22px;
        }
        p{
            font-size: 20px;
        }
    }
    .price{
        font-size: 20px;
    }
}
@media screen and (min-width: 992px){
    header{
        img{
            padding-top: 1%;
            padding-bottom: 1%;
            height: 50px;
            width: 450px;
        }
    }
    .location{
        font-size: 15px;
    }
    aside{
        h1{
            
            font-size: 26px;
        }
        p{
            font-size: 22px;
        }
        button{
            font-size: 20px;
            padding-top: 1%;
            padding-bottom: 1%;
            width: 400px;
        }
        button:hover{
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.42) 0px 5px 5px 0px;
            background: linear-gradient(to bottom right, #ff79d9cd, #9256dcc4);
        }
    }
    .section_fonctionnement{
        padding-left: 7%;
        h2{
            padding-bottom: 10px;
            width: 50%;
            border-bottom: solid rgba(146, 86, 220, 0.357);
            text-align: center;
            margin-left: 21%;
            font-size: 24px;
        }
    }
    .fonct{
        flex-direction:unset!important;
        &__etape{
            justify-content: center;
            
            width: 30%!important;
            .fa-solid{
                font-size: 40px;
            }
            
            p{
                gap: 10px;
                font-size: 20px;
                text-align: center;
                display: flex;
                flex-direction: column;
            }
        }
    }
    .numb_etape{
        padding: 0;
        width: 100%;
    }
    .restaurants{
        margin-bottom: 40px;
        width: 100%;
        flex-direction: initial;
        
        &__card{
            &__illustration{
                img{
                    height: 220px;
                }
            }
            width: 47.5%;
            height: 320px;
        }
    }
    footer{
        font-size: 20px;
        img{
            width: 200px;
        }
    }
    .header_page_restau{
        height: 70px;
        gap: 33%;
        img{
            width: 25%;
        }
    }
    .cover{
        height: 350px;
        img{
            height: 350px;
        }
    }
    .restaurant_title{
        margin-left: 0%;
        
        flex-direction: column;
        h1{
            width: 100%;
            text-align: center;
            font-size: 30px;
        }
        .fa-regular{
            font-size: 40px;
            width: 100%;
            text-align: center;
        }
    }
    .food_section{
        h2{
            width: 150px;
        }
    }
    .food_list{
        padding-left: 0%;
        justify-content: center;
        gap: 2%;
        display: flex;
        flex-wrap: wrap;
        
        &__item{
            
            width: 30%;
            
            
        }
    }
    .commander_cta{
        padding-top: 1%!important;
        padding-bottom: 1%!important;
        width: 350px!important;
    }
    
    
}
      

